
html, body {
margin: 0; padding: 0;

}

.header {
  background-color:#17a2b8;
  text-align: center;
  padding: 30px;
  top:0px;

}

.header h1{
	font-size:3em;
	margin-top:-15px;
		/*color: #19d1d1;*/
		color:black;
		font-family:sans-serif;
}

.header p{
	margin: 0 0 0 0;
	float: left;

	display: inline;
	float:left;

}

.header a{
	float:right;
    color:black;
    display: inline;
    text-decoration: none; 
    font-weight: bold;

}

h2{
  text-align: center;

}
h3{
	padding-bottom: 20px;
}
#login .container #login-row #login-column #login-box {
  margin-top: 120px;
  max-width: 600px;
  height: 300px;
  border: 1px solid #9C9C9C;
  background-color: #EAEAEA;
}
#login .container #login-row #login-column #login-box #login-form {
  padding: 20px;
}
#login .container #login-row #login-column #login-box #login-form #register-link {
  margin-top: -85px;
}



input[type=submit]{
	margin-top: 20px;
}


#register .container #login-row #login-column #login-box{
  margin-top: 120px;
  max-width: 600px;
  height: 350px;
  border: 1px solid #9C9C9C;
  background-color: #EAEAEA;
}

#register .container #login-row #login-column #login-box #login-form {
  padding: 20px;
}
#register .container #login-row #login-column #login-box #login-form #register-link {
  margin-top: -85px;
}


#Searcher h1 { 
	color: #333333; 
	font-family: 'Bitter', 
	serif; 
	font-size: 30px; 
	font-weight: normal; 
	line-height: 54px; 
	margin: 0 10 5px; 
}

#room-name-input {
  margin-top: 10px;
	margin: 0 0 10 0;
}

#room-name-submit{
  margin-bottom: 10px;

}


textarea {
  box-sizing: border-box;
  resize: none;
}

#chat_area{
  margin-top: 20px;
  margin-left:50px;
  width: 50%; 
  float:left;
}

#chat_area input[type=text]{
  margin-top:10px;
}

#chat_area input[type=button]{
  margin-top:10px;
}

#youtube_rep{
  margin-top: 300px;
  width: 35%; 
  float:right;
  display:none;
}

#chatTitle h1{
  text-align: center;
  font-family: "Lucida Console", Courier, monospace;
}

#salas{
  float:left;
  width: 33.33%; 
  border-style: solid;
  border-color: #17a2b8; 
  margin-top: 20px;
  margin-bottom: 30px;
  height:200px;

}

#desplegable{
  width: 100%; 
  float:left;"
}

.back{
  margin-left: 30px;
}
