<html lang="es">
<head>
	{% load static %}

	<link rel="stylesheet" href="{% static 'chat/style.css' %}">
	<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

</head>


<body>
    <div id="login">
        <h3 class="text-center text-white pt-5">Login form</h3>
        <div class="container">
            <div id="login-row" class="row justify-content-center align-items-center">
                <div id="login-column" class="col-md-6">
                    <div id="login-box" class="col-md-12">
                        <form id="login-form" class="form" action="" method="post">
                            <h3 class="text-center text-info">Login</h3>
                            <div class="form-group">
                                {{ form.as_p }}
                            </div>
                            <div class="form-group">
                                {% csrf_token %}
                            </div>
                            <div class="register">
                            	<a href="/register" >Register here</a>
                            </div>
                            <div class="form-group"> 
                                <input type="submit" name="submit" class="btn btn-info btn-md" value="submit">                          
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>

      

