<!-- chat/templates/chat/room.html -->
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Chat Room</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'chat/style.css' %}">
    <script src="{% static 'chat/chat.js' %}"></script>

</head>
<body>

    <div class="header">
        <p>Logged in as <b>{{request.user.username}}</b></p>
        <a href="/logout">Logout</a>
    </div>

     <button type="button" class="back" onclick="window.location.href = 'http://127.0.0.1:8000/';">
            Back
        </button>


    <div id="chatTitle">
        <h1> Welcome to chat room </h1>
    </div>



    <div id=chat_area>
        <textarea id="chat-log" cols="240" rows="50" readonly="readonly" placeholder="Type and send a message to show it in chat"></textarea><br>
        <input id="chat-message-input" type="text" size="188"><br>
        <input id="chat-message-submit" type="button" value="Send">
    </div>

    <div id="youtube_rep">
        <iframe width="560" height="315" src="{{video}}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>

    
    {{ room_name|json_script:"room-name" }}

<!-- ----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- -->

    <script>
        var textarea = document.getElementById('chat-log');
            setInterval(function(){
                textarea.scrollTop = textarea.scrollHeight;
        }, 10);

        var username = "{{request.user.username}}";
        const roomName = JSON.parse(document.getElementById('room-name').textContent);

        const chatSocket = new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/chat/'
            + roomName
            + '/'
        );

        chatSocket.onmessage = function(e) {
            const data = JSON.parse(e.data);
            //var n = data.includes('!play');
            const mensaje = data.message;
            const yt=document.getElementById("youtube_rep");
            const barra=document.getElementById("chat-message-input");


            if(mensaje.includes("!play")){
                yt.style.display = "initial";
                textarea.cols = 150;
                barra.size=115;
            }
            if(mensaje.includes("!stop")){
                yt.style.display = "none";
                textarea.cols = 240;
                barra.size=188;
            }

            if(mensaje.includes("http://www.youtube.com/embed/")){
                location.reload(true);
            }
            document.querySelector('#chat-log').value += (mensaje + '\n');
        };

        chatSocket.onclose = function(e) {
            console.error('Chat socket closed unexpectedly');
        };

        document.querySelector('#chat-message-input').focus();
        document.querySelector('#chat-message-input').onkeyup = function(e) {
            if (e.keyCode === 13) {  // enter, return
                document.querySelector('#chat-message-submit').click();
            }
        };

        document.querySelector('#chat-message-submit').onclick = function(e) {
            const messageInputDom = document.querySelector('#chat-message-input');
            const message = messageInputDom.value;
            chatSocket.send(JSON.stringify({
                'message': message
            }));
            messageInputDom.value = '';
        };
    </script>

<!-- ----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- -->
    
</body>
</html>