<head>
	{% load static %}

	<link rel="stylesheet" href="{% static 'chat/style.css' %}">
    <link href="{% static 'chat/bootstrap.min.css'%}" rel="stylesheet">
</head>

<body>
<header>
	<div class="header">
		<a href="/logout">Logout</a>
	</div>
</header>


	    <p>Welcome <b>{{request.user.username}}</b>
    </p>
    <center>
	    <div id="Searcher">
		    <h1> Choose the room that best suits you </h1><br>
		    <input id="room-name-input" type="text" size="100"><br>
		    <input id="room-name-submit" type="button" value="Enter"><br>

		    <script>
		        document.querySelector('#room-name-input').focus();
		        document.querySelector('#room-name-input').onkeyup = function(e) {
		            if (e.keyCode === 13) {  // enter, return
		                document.querySelector('#room-name-submit').click();
		            }
		        };

		        document.querySelector('#room-name-submit').onclick = function(e) {
		            var roomName = document.querySelector('#room-name-input').value;
		            window.location.pathname = '/chat/' + roomName + '/';
		        };
		    </script> 
    	</div>
	</center>


<h2> Featured chat rooms </h2>
<div id="salas">
	<center>
	    <div id="Searcher">
		    <h4> General</h4><br>

		    <p> Come and talk about all genres </p><br>
		    
		    <button type="button" class="btn btn-primary" onclick="window.location.href = 'http://127.0.0.1:8000/chat/general/';">
				Go
			</button>

		    
    	</div>
	</center>
</div>

<div id="salas">
	<center>
	    <div id="Searcher">
		    <h4> National</h4><br>
		    <p> Come and discover national artists </p><br>
		    
		    <button type="button" class="btn btn-primary" onclick="window.location.href = 'http://127.0.0.1:8000/chat/National/';">
				Go
			</button>

		    
    	</div>
	</center>
</div>

<div id="salas">
	<center>
	    <div id="Searcher">
		    <h4> Discover</h4><br>
	    	<p> Chat with people and discover new music </p><br>		    
		    <button type="button" class="btn btn-primary" onclick="window.location.href = 'http://127.0.0.1:8000/chat/Discover/';">
				Go
			</button>

		    
    	</div>
	</center>
</div>

 <div class="container-fluid" id="desplegable">
	<div class="row">
		<div class="col-md-12">
			<h3 class="text-center">
				Check here the statistics of the most listened songs and genre !
			</h3>
			<div id="card-348531">
				<div class="card">
					<div class="card-header">
						 <a class="card-link collapsed" data-toggle="collapse" data-parent="#card-348531" href="#card-element-347265">Most listened genres</a>
					</div>
					<div id="card-element-347265" class="collapse">
						<div class="card-body">
							<img class="img-responsive" src="{% static '/img/genre.png'%}">
						</div>
					</div>
				</div>
				<div class="card">
					<div class="card-header">
						 <a class="card-link collapsed" data-toggle="collapse" data-parent="#card-348531" href="#card-element-229698">Genres with the most popular songs</a>
					</div>
					<div id="card-element-229698" class="collapse">
						<div class="card-body">
							<img class="img-responsive" src="{% static '/img/popularidad.png'%}">
						</div>
					</div>
					<div class="card">
						<div class="card-header">
							 <a class="card-link collapsed" data-toggle="collapse" data-parent="#card-348531" href="#card-element-123569">Artists with more songs on the top</a>
						</div>
						<div id="card-element-123569" class="collapse">
							<div class="card-body">
								<img class="img-responsive" src="{% static '/img/songs.png'%}">
							</div>
						</div>
					</div>
					<div class="card">
						<div class="card-header">
							 <a class="card-link collapsed" data-toggle="collapse" data-parent="#card-348531" href="#card-element-123560">Relación entre bps y popularidad</a>
						</div>
						<div id="card-element-123560" class="collapse">
							<div class="card-body">
								<img class="img-responsive" src="{% static '/img/bps&popularity.png'%}">
							</div>
						</div>
					</div>
					<div class="card">
						<div class="card-header">
							 <a class="card-link collapsed" data-toggle="collapse" data-parent="#card-348531" href="#card-element-123563">Relation between bps and popularity</a>
						</div>
						<div id="card-element-123563" class="collapse">
							<div class="card-body">
								<img class="img-responsive" src="{% static '/img/danceability.png'%}">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

    <script src="{% static 'chat/jquery.min.js'%}"></script>
    <script src="{% static 'chat/bootstrap.min.js'%}"></script>
    <script src="{% static 'chat/scripts.js'%}"></script>





</body>